[data-theme='1'] {
    --color: #000000;
    --background: #FFFFFF;
}

[data-theme='2'] {
    --color: #000000;
    --background: #2f39ff;
}

[data-theme='3'] {
    --color: #FFFFFF;
    --background: #0a0b0c;
}

html {
    background-color: var(--background);
    color: var(--color);
}

.select {

}
