.button {
    position: relative;
    margin: 10px;
    overflow: hidden;
    cursor: pointer;

}

.disabled {
}

.secondary {
}

.default {
    background: darkblue;
    color: #00cc22;
    outline: none;
}

.red {
    background: #cc0000;
}

.default:hover {
}

.red:hover {
}

.secondary:hover {
}


.default:active {
}

.secondary:active {
}

.red:active {
}

.button:disabled {
    color: darkblue;
    cursor: auto;
}
